<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>네이버 뉴스 수집 데이터 모니터링</h1>
    </hr>
    <div id="news-box">

    </div>
    <script>
        const eventSource = new EventSource("http://localhost:8080/news");
        eventSource.onmessage = (event) => {
            //console.log(event.data);
            naverNews = JSON.parse(event.data);
            console.log(naverNews);

            $("#news-box").append("<h3>"+naverNews.title+"</h3>");
        }
    </script>    
</body>
</html>